numpy
scipy
librosa>=0.10.0
soundfile
tqdm
pandas
joblib
num2words
matplotlib
seaborn
torch
torchaudio
transformers
datasets
evaluate
scikit-learn
SpeechRecognition
deep-translator
gTTS
pydub
python-dotenv
moviepy
imageio-ffmpeg
flask
edge-tts
pytube
